body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  background-color: rgb(210, 210, 210);
}

/* Webkit系ブラウザ（Chrome、Safariなど） */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
body {
  scrollbar-width: none; /* スクロールバーの幅をなくす */
}

/* IE, Edge */
body {
  -ms-overflow-style: none; /* スクロールバーを非表示にする */
}

* {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
